<div class="container">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Quarter</th>
        <th scope="col">Period</th>
        <th scope="col">Total</th>
        <th scope="col">Taxes</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
    <ng-container *ngIf="(quartersList$ | async) as quartersList" class="menu-item">
      <tr *ngFor="let quarter of quartersList; let i = index;">
        <th scope="row">{{ i }}</th>
        <td>{{ quarter.quarter }}</td>
        <td>{{ quarter.period }}</td>
        <td>{{ quarter.total }}</td>
        <td> - </td>
        <td class="d-flex justify-content-between">
          <button class="btn btn-sm btn-warning" (click)="openEditModal(quarter)">Edit Quarter</button>
          <button class="btn btn-sm btn-danger" (click)="deleteQuarter(quarter)">Delete Quarter</button>
        </td>
      </tr>
    </ng-container>

    </tbody>
  </table>

  <div class="buttons-wrapper d-flex justify-content-between">
    <button class="btn btn-primary" (click)="openAddModal()">Add Quarter</button>
  </div>
</div>


<app-quarter-modal
  [mode]="modalMode"
  (closeModalEvent)="closeModal()"
  (submitFormEvent)="submitForm($event)"
  [hidden]="!isModalOpen">
</app-quarter-modal>
