/*
TODO create list with color variables
for example: #5a626c - mainBackground, #292929 - mainText
font-family: "Nunito", Sans-serif;
 */

.navbar-brand {
  img {
    width: 30px;
  }
}

.nav-item {
  transition: background-color 0.3s ease-in-out;
  a {
    color: #292929;
  }
  &:hover {
    background-color: darken(#f8f9fa, 10%);
  }
  &.active {
    background-color: #5a626c;
    &:hover {
      background-color: darken(#5a626c, 10%);
    }
  }
}

.nav-item.active .nav-link {
  color: #ffffff;
}
